body
{
	background-color: black;
	font-family: sans-serif;
}

.wrapper
{
	height: auto;
	color: white;	
}

.heading {
	text-align: center;
}

.heading img
{
	margin-top: 30px;
	height: 200px;	
}

.heading h1
{
	color: white;
	font-size: -webkit-xxx-large;	
	margin-top: 30px; 
}

.main-body-copy {
	max-width: 600px;
	padding:10px 20px 20px;
	margin: 0 auto;
}

.main-body-copy ol li {
	margin-left: 0;
	padding-left: 5px;
}

.image1
{
	position: relative;
	margin-left: 88px;
	width: 450px;
    float: right;
    clear: both;
}

.image1 img
{
	width: 450px;	
	opacity: 0.4;
	height: 337px;
    padding-right: 40px;	
}

.image1 h2
{
	margin-left: 40px;
	color: white;
	position: absolute;
	top: 30px;	
}

.image1 p
{
	width: 350px;
	top: 100px;
	position: absolute;
}

.image2
{
	position: relative;
	/*margin-left: 88px;*/
	padding-left: 30px;
    margin-top: 0px;
    width: 450px;	
}

.image2 img
{
	width: 450px;	
	opacity: 0.4;

}

.image2 h2
{
	margin-left: 40px;
	color: white;
	position: absolute;
	top: 30px;	
}

.image2 p
{
	width: 350px;
	top: 100px;
	position: absolute;
}

.nav-pills li
{
	border-left: 2px solid white;	
	margin-right: 10px;	
}

a
{
	color: darkgray;
}

.nav-pills li a:hover 
{
	color: black;
	font-size: large;
	/*background-color: darkgray;	*/
}

.page-footer
{
	padding-bottom: 20px;	
	margin-top: 20px;
    padding-top: 20px;
	border-top:2px solid white;	
}
